@rendermode InteractiveWebAssembly
@using GotorzProject.Shared.DataTransfer


@if(BaseFlightDTO != null)
{

	@* <GotorzProject.Client.Component.FlightOffer FlightDTO="BaseFlight" /> *@


		<div class="flight-card row">
			

			@* Ankomsttid *@
			<div class="row">


				@foreach (var leg in BaseFlightDTO.FlightLegs){
					<div class="flight-leg row">

						<div class="flight-airport col-sm">
								<h4>@leg.FromAirportName</h4>
								<small>@leg.Departure</small>
						</div>

						<div class="col-sm">
							<Icon Name="IconName.ArrowUpRightCircleFill" Size="IconSize.x2"/>

							<span>@leg.TravelTimeMinutes min</span>

						<Icon Name="IconName.ArrowDownRightCircleFill" Size="IconSize.x2" />
						</div>

						<div class="flight-airport col-sm">
							<h4>@leg.ToAirportName</h4>
							<small>@leg.Landing</small>
						</div>

					</div>
				}
			</div>
				
			<div class="row">
				<div class="price">@BaseFlightDTO.Price DKK</div>
				<button class="btn" @onclick="ShowDetails">Se oplysninger</button>
				<button class="btn" @onclick="ShowTicketType">Se billettype</button>
			</div>
		</div>


	


	<style>
		.flight-card {
		display: flex;
		align-items: center;
		gap: 15px;
		justify-content: space-between;
		background: #f9f9f9;
		padding: 10px;
		border-radius: 8px;
		margin-bottom: 10px;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
		white-space: nowrap;
		}

		.airline-logo {
		width: 50px;
		height: auto;
		}

		.departure-info, .arrival-info {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		min-width: 120px;
		}

		.time {
		font-weight: bold;
		font-size: 1rem;
		padding: 3px 8px;
		background: #e6e6e6;
		border-radius: 5px;
		}

		.travel-time {
		font-style: italic;
		color: #555;
		font-size: 1rem;
		}

		.price {
		font-weight: bold;
		color: #007bff;
		font-size: 1.2rem;
		background: #eef6ff;
		padding: 5px 10px;
		border-radius: 5px;
		}

		.btn
		{
		display: inline-block;
		padding: 10px 20px;
		background-color: #007bff;
		color: white;
		border: none;
		cursor: pointer;
		}

		.bnt:hover
		{
		background-color:#0056b3;
		}


	</style>
}

@code {
	[Parameter]
	public BaseFlightDTO BaseFlightDTO { get; set; }



	private void ShowDetails()
	{
		Console.WriteLine("Viser detaljer");
	}

	private void ShowTicketType()
	{
		Console.WriteLine("Viser billettype");			
	}

}}

