@using GotorzProject.Shared.DataTransfer


@if(HotelRoomDTO != null){
	<div class="container">
		<h3>@HotelRoomDTO.Name</h3>
		<div class="row">
			<div class="col-sm">
				<img src="@HotelRoomDTO.ImageSource" />
			</div>

			<div class="col-md">

				<span>@HotelRoomDTO.Location</span>

				<div class="amenities">
					@foreach(var amenity in HotelRoomDTO.Amenities){
					<small>@amenity</small>
					}
				</div>

				<span>@HotelRoomDTO.Beds</span>
				<span>@HotelRoomDTO.Rating</span>
				<div>
					<span>@HotelRoomDTO.PricePerNight.Print()</span>
					<small>Price per night</small>
					<br />
					<span>@HotelRoomDTO.TotalPrice.Print()</span>
					<small>Total price</small>
				</div>
			</div>
		</div>
	</div>
} else{
	<Spinner />
}

@code {
	[Parameter]
	public BaseHotelRoomDTO HotelRoomDTO { get; set; }
}
